<h1>Index</h1>
<ul>
<% @listings.each{ |list| %>
    <li><%= list[:name] %> <%= link_to "View", "/listings/#{list[:id]}" %></li>
<%}%>


<li><%= link_to "New Listing", new_listing_path %></li>
</ul>