<div class="page_sec">
    <h1>Booking Index</h1>
    <table>
        <tr>
            <td>Listing</td>
            <td>Room</td>
            <td>Date</td>
        </tr>
        <% @bookings.each{ |booking| %>
            <tr>
                <td><%= booking.room.listing[:name] %></td>
                <td><%= booking.room[:name]%></td>
                <td><%= booking[:date]%></td>
            </tr>
        <% } %>
    </table>
</div>