<div class="main_sec back_1" style= "height: 80vh; background-image: linear-gradient(rgba(0, 100, 100, 0.5), rgba(100, 100, 100, 0.8)), url(<%= asset_path 'home.jpg' %>);">
    <div class="card bg-light mb-3" style="max-width: 25rem; width: 25vw">
        <div class="card-body">
            <form action = "<%=listings_path%>" method = "GET" class="search_bar">
                <div class="search_input">
                    <label>Location: </label>
                    <input type="text" name="search[location]">
                </div>
                <div class="search_input">
                    <label>People: </label>
                    <input type="number" step="1" min="1" max="4" name="search[no_people]">
                </div>
                <div class="search_input">
                    <label>From: </label>
                    <input type="date" name="search[date_from]">
                </div>
                <div class="search_input">
                    <label>To: </label>
                    <input type="date" name="search[date_to]">
                </div>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</div>