@import "variables.scss";

@import "room.scss";
@import "profile.scss";

//large screen
@media only screen and (min-width: 600px){          
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
//small screen
@media only screen and (max-width: 600px){
    .navbar{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

body{
    background-color: $back_color1;
}

.main_sec{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $back_color1;
}
.search_div{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.search_input{
    margin: 5px;
}
.navbar{
    display: flex;
    box-shadow: inset 0px 0px 2px 2px $border_color1;
    background-color: $back_color2 !important;
}
.search_no_people{
    width: 50px;
}
.listing_img{
    max-height: 200px;
    max-width: 200px;
    object-fit: scale-down;
}
.col-md-3{
    border: 1px solid black
}
.back_1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: fill; 
    flex-grow: 1;
}
.search_nav{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

td{
    padding: 5px;
}

.page_sec{
    border: 2px solid $border_color1;
    border-radius: 10px;
    background-color: $back_color2;
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 10px;
    table{
        width: 70vw;
        td{
            border: 1px solid grey;
        }
    }
}
